<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<context:property-placeholder location="classpath:config.properties"/>
	<bean id="config" class="lan.test.config.ConfigBean">
		<property name="resContextPrefix" value="${resources.context.prefix}"/>
		<property name="resContextSuffix" value="${resources.context.suffix}"/>
		<property name="resPortletKeyword" value="${resources.portlet.keyword}"/>
		<property name="needRewriteUrl" value="${history.needRewriteUrl}"/>
	</bean>
</beans>