<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml,
			classpath:weblogic-browserHistoryContext.xml,
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<description>ZK listener for session cleanup</description>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>

		<!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
		It must be the same as <url-pattern> for the update engine.
		-->
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<init-param>
			<param-name>compress</param-name>
			<param-value>false</param-value>
		</init-param>
		<!-- [Optional] Specifies the default log level: OFF, ERROR, WARNING,
			INFO, DEBUG and FINER. If not specified, the system default is used.
		<init-param>
			<param-name>log-level</param-name>
			<param-value>OFF</param-value>
		</init-param>
		-->
		<load-on-startup>1</load-on-startup><!-- Must -->
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<!-- [Optional] Uncomment it if you want to use richlets.
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>/zk/*</url-pattern>
	</servlet-mapping>
	-->
	<servlet>
		<description>The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
		<init-param>
			<param-name>compress</param-name>
			<param-value>false</param-value>
		</init-param>
		<!-- [Optional] Specifies the AU extension for particular prefix.
		<init-param>
			<param-name>extension0</param-name>
			<param-value>/upload=com.my.MyUploader</param-value>
		</init-param>
		-->
	</servlet>
	<!--
	<servlet>
		<servlet-name>zkLess</servlet-name>
		<servlet-class>org.zkoss.less.ZKLessServlet</servlet-class>
		<init-param>
			<param-name>org.zkoss.less.LessResource</param-name>
			<param-value>/less</param-value>
		</init-param>
		<init-param>
			<param-name>org.zkoss.less.OutputFormat</param-name>
			<param-value>.css.dsp</param-value>
		</init-param>
		<init-param>
			<param-name>org.zkoss.less.CompressOutput</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>-->
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>
	<!--<servlet-mapping>
		<servlet-name>zkLess</servlet-name>
		<url-pattern>/less/*</url-pattern>
	</servlet-mapping>-->
	<!-- [Optional]
	Uncomment if you want to use the ZK filter to post process the HTML output
	generated by other technology, such as JSP and velocity.
	<filter>
		<filter-name>zkFilter</filter-name>
		<filter-class>org.zkoss.zk.ui.http.DHtmlLayoutFilter</filter-class>
		<init-param>
			<param-name>extension</param-name>
			<param-value>html</param-value>
		</init-param>
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>zkFilter</filter-name>
		<url-pattern>your URI pattern</url-pattern>
	</filter-mapping>
	-->
	<!-- //// -->

	<!--Uncomment it if you want to use DSP
	However, it is turned on since zksandbox uses DSP to generate CSS.-->
	<servlet>
		<servlet-name>dspLoader</servlet-name>
		<servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
		<init-param>
			<param-name>class-resource</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dspLoader</servlet-name>
		<url-pattern>*.dsp</url-pattern>
	</servlet-mapping>

	<!-- /////////// -->
	<!-- [Optional] Session timeout -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- [Optional] MIME mapping -->
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/vnd.ms-word</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zhtml</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zul</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.zul</welcome-file>
		<welcome-file>index.zhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<filter>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<filter-class>oracle.portlet.server.service.ContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRPBaseService</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRP_v2_Markup_Service</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRPServiceDescriptionService</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRP_v2_ServiceDescription_Service</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRPRegistrationService</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRP_v2_Registration_Service</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRPPortletManagementService</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>portletfilter</filter-name>
		<servlet-name>WSRP_v2_PortletManagement_Service</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>JpsFilter</filter-name>
		<servlet-name>WSRPBaseService</servlet-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<!--Added by WSRP install tool-->
		<filter-name>JpsFilter</filter-name>
		<servlet-name>WSRP_v2_Markup_Service</servlet-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPTestPage</servlet-name>
		<servlet-class>oracle.portlet.producer.container.TestPage</servlet-class>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRPPortletManagementService</description>
		<display-name>Web Service WSRPPortletManagementService</display-name>
		<servlet-name>WSRPPortletManagementService</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v1.soap.WSRP_v1_PortletManagement_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v1_PortletManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRPRegistrationService</description>
		<display-name>Web Service WSRPRegistrationService</display-name>
		<servlet-name>WSRPRegistrationService</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v1.soap.WSRP_v1_Registration_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v1_Registration</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRPBaseService</description>
		<display-name>Web Service WSRPBaseService</display-name>
		<servlet-name>WSRPBaseService</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v1.soap.WSRP_v1_Markup_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v1_Markup</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRPServiceDescriptionService</description>
		<display-name>Web Service WSRPServiceDescriptionService</display-name>
		<servlet-name>WSRPServiceDescriptionService</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v1.soap.WSRP_v1_ServiceDescription_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v1_ServiceDescription</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRP_v2_ServiceDescription_Service</description>
		<display-name>Web Service WSRP_v2_ServiceDescription_Service</display-name>
		<servlet-name>WSRP_v2_ServiceDescription_Service</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v2.soap.WSRP_v2_ServiceDescription_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v2_ServiceDescription</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRP_v2_Markup_Service</description>
		<display-name>Web Service WSRP_v2_Markup_Service</display-name>
		<servlet-name>WSRP_v2_Markup_Service</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v2.soap.WSRP_v2_Markup_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v2_Markup</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRP_v2_Registration_Service</description>
		<display-name>Web Service WSRP_v2_Registration_Service</display-name>
		<servlet-name>WSRP_v2_Registration_Service</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v2.soap.WSRP_v2_Registration_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v2_Registration</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<description>Web Service WSRP_v2_PortletManagement_Service</description>
		<display-name>Web Service WSRP_v2_PortletManagement_Service</display-name>
		<servlet-name>WSRP_v2_PortletManagement_Service</servlet-name>
		<servlet-class>oracle.j2ee.ws.server.JAXRPCServlet</servlet-class>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceInterface</param-name>
			<param-value>oracle.portlet.wsrp.v2.soap.WSRP_v2_PortletManagement_PortType</param-value>
		</init-param>
		<init-param>
			<param-name>oracle.webservices.jaxrpc.ServiceImpl</param-name>
			<param-value>oracle.portlet.server.adapter.web.WSRP_v2_PortletManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<!--Added by WSRP install tool-->
		<servlet-name>PortletProducerResourceServlet</servlet-name>
		<servlet-class>oracle.portlet.producer.container.endpoint.resourceservlet.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPTestPage</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPBaseService</servlet-name>
		<url-pattern>/portlets/WSRPBaseService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRP_v2_Markup_Service</servlet-name>
		<url-pattern>/portlets/WSRP_v2_Markup_Service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPPortletManagementService</servlet-name>
		<url-pattern>/portlets/WSRPPortletManagementService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRP_v2_PortletManagement_Service</servlet-name>
		<url-pattern>/portlets/WSRP_v2_PortletManagement_Service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPRegistrationService</servlet-name>
		<url-pattern>/portlets/WSRPRegistrationService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRP_v2_Registration_Service</servlet-name>
		<url-pattern>/portlets/WSRP_v2_Registration_Service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPServiceDescriptionService</servlet-name>
		<url-pattern>/portlets/WSRPServiceDescriptionService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPServiceDescriptionService</servlet-name>
		<url-pattern>/portlets/wsrp1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRPServiceDescriptionService</servlet-name>
		<url-pattern>/portlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRP_v2_ServiceDescription_Service</servlet-name>
		<url-pattern>/portlets/WSRP_v2_ServiceDescription_Service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!--Added by WSRP install tool-->
		<servlet-name>WSRP_v2_ServiceDescription_Service</servlet-name>
		<url-pattern>/portlets/wsrp2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortletProducerResourceServlet</servlet-name>
		<url-pattern>/portlets/resources/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!--Added by WSRP install tool-->
		<welcome-file>info</welcome-file>
	</welcome-file-list>
	<env-entry>
		<description>Consumer preference store</description>
		<env-entry-name>oracle/portal/wsrp/server/persistentStore</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>Consumer</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>oracle/portal/wsrp/server/enableJavaObjectCache</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>true</env-entry-value>
	</env-entry>
</web-app>
