@import "~./custom/zul/less/_header.less";

.quickSearch .z-window-content {
	padding: 0px;
	margin-bottom: 4px;
}

.findSeparator {
	background-color: #eeeeef;
}

.sep {
	.encodeThemeURL(background-image, "~./gray_dot.png");
}

.buttonBox {
	height: 26px;
}




